# node.js related
node_modules
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Error logs
/logs/*.log

### OSX ###
.DS_Store
.AppleDouble
.LSOverride


# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Sublime ###
*.sublime-*